html{
    height: 100%;
}

body, #app{
    height: inherit;
}

.container-fluid {
    /* removes bootstrap padding */
    padding: 0px;
}

.navbar {
    display: list-item;
    height: inherit;
}

/* Highlighting rules for nav menu items */
.nav-item a.active,
.nav-item a.active:hover,
.nav-item a.active:focus {
    background-color: #fc4c02;
    color: white;
    text-decoration: underline;
}

.nav-item a,
.nav-item a:hover,
.nav-item a:focus {
    color: white;
}

.main-nav {
    width: 100%;
    /* keeps navbar ontop of leaflet maps */
    z-index: 1001;
    position: fixed;
    top: 0;
}

.upcoming-main-view, .main-view {
    margin: auto;
}


/* mobile */
@media (max-width: 575px) {
    .upcoming-main-view, .main-view{
        margin-top: 59px;
        padding-top: 30px;
    }
    .main-view{
        width: fit-content;
    }
    .upcoming-main-view{
        width: calc(100% - 60px);
    }
}

/* desktop */
@media (min-width: 576px) {
    #app {
        display: flex;
    }
    .upcoming-main-view, .main-view{
        padding-left: 215px;
        /* removes padding-top when set on nav-button press */
        padding-top: 0px !important;
    }
    .upcoming-main-view{
        width: calc(100% - 150px);
    }
    .main-nav {
        height: inherit;
        width: 215px;
    }
    .navbar-expand-sm .navbar-nav {
        flex-direction: column;
    }
    .navbar-header {
        float: none;
    }
    .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .navbar-collapse ul {
        float: none;
    }
    .nav-item {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .nav-item a {
        padding: 10px 16px;
        border-radius: 4px;
        color: white;
    }
    .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 95%; /* Bug to fix here. Width 100% overflow. */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.button {
    background-color: #fc4c02; /* Green */
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor:pointer;
}
.strava-button-div {
    position: relative;
    top: 50%;
    transform: translateY(-50%); /* or try 50% */
}